{
  "bridgeIP": "",
  "apiKey": "",
  "sensorName": "",
  "port": 3000,
  "pollInterval": 2000,
  "resetTimeout": 180000,
  "alertMinutes": [15, 20, 30, 45, 60],
  "urgentMinute": 20,
  "authUser": "admin",
  "authPass": "",
  "allowedNetworks": ["192.168.41.0/24", "10.41.128.0/24", "127.0.0.1/32"]
}
